/*TEST NEW SPLITS LAYOUT BRANCH COMMIT*

/* MAKE FIREWORKS APPEAR AFTER CALCULATING */

/* "Gutters are also responsive and customizable. Gutter classes are available across all breakpoints, with all the same sizes as our margin and padding spacing. Change horizontal gutters with .gx-* classes, vertical gutters with .gy-*, or all gutters with .g-* classes. .g-0 is also available to remove gutters."

1. g-0 removes gutters (padding)
2. this is inherited in child classes (pretty sure)
3. you have to specify units for CSS to give a shit about what padding/margin you assign.
4. #3 is wrong. I think.
5. !important is cool. */

/* this fucks shit up */
/* *{
	padding: 0px !important;
} */

/* .row>* {
	padding: 0px !important;
}

/* .lh-unset vertically centers the "per" */

.lh-unset {
	margin: 0px;
	line-height: unset;
}

/* .	orful-gradient {
	background-image: linear-gradient(to right, #3eccff, #18c20b, #e8ff4e, #d820b5) !important;
	background-color: rgb(43, 43, 43);
} */

.logo1 {
	/* color:white !important;
	text-shadow: 2px 2px 5px black;
	background-image: linear-gradient(to right, #3eccff, #18c20b, #e8ff4e, #d820b5) !important;
 	 background: -webkit-linear-gradient(#3eccff, #d820b5); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */

	background-image: linear-gradient(45deg, #ca4246 16.666%, #476098 66.666%, #476098 83.333%, #a7489b 83.333%);

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Animate the text when loading the element. */
	/* This animates it on page load and when hovering out. */
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
.logo2 {
	/* Create a conic gradient. */
	/* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
	background: #ca4246;
	background-color: #ca4246;
	background: conic-gradient(
		#ca4246 16.666%,
		#e16541 16.666%,
		#e16541 33.333%,
		#f18f43 33.333%,
		#f18f43 50%,
		#8b9862 50%,
		#8b9862 66.666%,
		#476098 66.666%,
		#476098 83.333%,
		#a7489b 83.333%
	);

	/* Set thee background size and repeat properties. */
	background-size: 57%;
	background-repeat: repeat;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Animate the text when loading the element. */
	/* This animates it on page load and when hovering out. */
	animation: rainbow-text-animation-rev 0.5s ease forwards;

	cursor: pointer;
}
.logo {
	/* background: #33ffea; */
	/* background: -webkit-linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);
	background: -moz-linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);
	background: linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%); */
	font-size: 0.7em;
	color: #f0f1c9 !important;
	text-shadow: 1px 1px 2px rgb(81, 0, 131);
	font-family: 'sf_alien_encountersregular', Times, serif;
}

.vaporwave-gradient {
	background: rgba(104, 0, 118, 0.509);
	/* background: linear-gradient(0deg, rgba(39, 142, 71, 1) 0%, rgba(54, 123, 242, 0.795) 9%, rgba(230, 78, 253, 0.76) 56%, rgba(201, 60, 156, 0.742) 100%); */
}

body {
	/* min-height: 100vh; */
	/* background-image: linear-gradient(to bottom, #0fe5f43a, rgba(255, 255, 255, 0)), url('https://data.whicdn.com/images/244417240/original.gif'); */
	/* background-image: linear-gradient(to bottom, #0fe5f400, rgba(255, 255, 255, 0)), url('https://wallpaperaccess.com/full/2342786.png'); */
	/* background-image: linear-gradient(to bottom, #0fe5f400, rgba(255, 255, 255, 0)), url('https://i.pinimg.com/originals/9f/92/6c/9f926c8c220127d81c8ba6897aa8d5db.gif'); */
	/* background-image: linear-gradient(to bottom, #0fe5f400, rgba(255, 255, 255, 0)), url('https://i.pinimg.com/originals/75/2a/30/752a309d15fac0b23d006d9b568aff0d.gif'); */
	/* background-image: linear-gradient(to bottom, #0fe5f400, rgba(255, 255, 255, 0)), url('https://i.pinimg.com/originals/62/21/f2/6221f27668e192ce1d7eb19a76dce88d.gif'); */
	/* background-image: linear-gradient(to bottom, #0fe5f400, rgba(255, 255, 255, 0)), url('https://i.pinimg.com/originals/05/10/f4/0510f4e596283c0d961e4338565a93f3.gif');
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 100%;
	min-height: 100%;
	background-position: center; */
	/* background-attachment: fixed; */
	/* background-position-y:; */
	/* background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(242, 136, 235, 1) 50%, rgba(242, 173, 148, 1) 100%); */
	/* background: linear-gradient(0deg, rgba(128, 145, 241, 1) 0%, rgba(242, 136, 235, 1) 31%, rgba(242, 173, 148, 1) 100%); */
}

.fullscreen-bg {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

#bgVideo {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

#distanceForm {
	background-color: #ffa3f348;
	font-family: 'sf_alien_encountersregular', Times, serif;

	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

#timeForm {
	/* background-color: #57d07be8; */
	background-color: #3754c843;
	font-family: 'sf_alien_encountersregular', Times, serif;

	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

#paceForm {
	background-color: #cb31ea42;
	font-family: 'sf_alien_encountersregular', Times, serif;

	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

.gradient-btn-blue {
	background: #8d95f3;
	background: -webkit-linear-gradient(to right, #8d95f3 0%, #8d95f3 100%);
	background: -moz-linear-gradient(to right, #8d95f3 0%, #8d95f3 100%);
	background: linear-gradient(to right, #8d95f3 0%, #8d95f3 100%);
	color: black;
	/* text-shadow: 1px 1px 2px black; */
}

.gradient-btn-green {
	background: #a8f288;
	background: -webkit-linear-gradient(to right, #05e1b2 0%, #05e1b2 100%);
	background: -moz-linear-gradient(to right, #05e1b2 0%, #05e1b2 100%);
	background: linear-gradient(to right, #8bf5de 0%, #05e1b2 100%);
	color: black;
	/* background: #f4fc05;
	background: -webkit-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: -moz-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: linear-gradient(to right, #f4fc05 0%, #f8b500 100%); */
}

.gradient-btn-yellow {
	background: #f4fc05;
	background: -webkit-linear-gradient(to right, #ffe206 0%, #ffe206 100%);
	background: -moz-linear-gradient(to right, #ffe206 0%, #ffe206 100%);
	background: linear-gradient(to right, #faee95 0%, #ffe206 100%);
	/* background: #f4fc05;
	background: -webkit-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: -moz-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: linear-gradient(to right, #f4fc05 0%, #f8b500 100%); */
}

.gradient-btn-teal {
	background: #0fe5f4;
	background: -webkit-linear-gradient(to right, #0fe5f4 0%, #0abcf5 100%);
	background: -moz-linear-gradient(to right, #0fe5f4 0%, #0abcf5 100%);
	background: linear-gradient(to right, #0fe5f4 0%, #0abcf5 100%);
	/* background: #f4fc05;
	background: -webkit-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: -moz-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: linear-gradient(to right, #f4fc05 0%, #f8b500 100%); */
}

.gradient-btn-pink {
	background: #fc92fc;
	background: -webkit-linear-gradient(to right, #ffc198 0%, #ffc198 100%);
	background: -moz-linear-gradient(to right, #ffc198 0%, #ffc198 100%);
	background: linear-gradient(to right, #ffc198 0%, #ffc198 100%);
}
.gradient-btn-bubblegumpink {
	background: pink;
	background: -webkit-linear-gradient(to right, pink 0%, pink 100%);
	background: -moz-linear-gradient(to right, pink 0%, pink 100%);
	background: linear-gradient(to right, rgb(255, 192, 236) 0%, pink 100%);
	color: black;
}

.gradient-btn-byp {
	background: linear-gradient(to right, #33ffea 0%, #4b5aff 50%, #ff33d6 100%);
}

.blue {
	color: #4b5aff;
}

.yellow {
	color: #ffe20a;
}

.pink {
	color: #ffc298;
}

.green {
	color: #0ae0b3;
}
.bubblegumpink {
	color: pink;
}
.teal {
	color: #71eff5;
}
.purple {
	color: #f69def;
}
.light-grey {
	background: linear-gradient(to bottom, rgba(105, 0, 121, 0.541), rgba(49, 0, 63, 0.637));

	/* background: linear-gradient(to bottom, #0e2934, #00011c); */
}

.running-guy {
	visibility: hidden;
	position: fixed;
	bottom: 0px;
	left: -50px;
	z-index: 10;
	mix-blend-mode: normal;
	height: 250px;
	animation-duration: 10s;
	animation-name: slidein;
	animation-iteration-count: infinite;
}

@keyframes slidein {
	from {
		margin-left: -500px;
	}

	to {
		margin-left: calc(100% + 250px);
	}
}

/* Test styling alternating colors */

/* Calculator Styling for Splits Button */
#calculator {
	/* background-color: #ffffff22; */
}

#splits-btn-container {
	bottom: 0px;
	/* height: 50px; */
	/* background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
	/* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

#splitsBtn {
	/* background: linear-gradient(to bottom, #befcc6 0%, #56fcb7 50%, #04fe4b 51%, #97fbc1 100%); */
	background: linear-gradient(to right, #33ffea 0%, rgb(255, 255, 113) 50%, #f76cc6 100%);
	font-family: 'sf_alien_encountersregular', Times, serif;
	color: black;
	width: 100%;
	/* height: 50px; coverd by bootstrap "btn-lg" */
	text-align: center;
	text-justify: unset;
}
/* .glow1 {
	font-size: 2em;
	color: rgb(255, 255, 255);
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3d00e6, 0 0 40px #3d00e6, 0 0 50px #3200e6, 0 0 60px #1f00e6, 0 0 70px #3d00e6;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #4dafff, 0 0 40px #4dcdff, 0 0 50px #4de4ff, 0 0 60px #4df3ff, 0 0 70px #4dc7ff, 0 0 80px #4d5cff;
	}
}

.glow-pink {
	font-size: 2em;
	color: #fff;
	text-align: center;
	-webkit-animation: glow-pink 1s ease-in-out infinite alternate;
	-moz-animation: glow-pink 1s ease-in-out infinite alternate;
	animation: glow-pink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-pink {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.glow-yellow {
	font-size: 2em;
	color: #fff;
	text-align: center;
	-webkit-animation: glow-yellow 1s ease-in-out infinite alternate;
	-moz-animation: glow-yellow 1s ease-in-out infinite alternate;
	animation: glow-yellow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-yellow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c4e600, 0 0 40px #bce600, 0 0 50px #e6e200, 0 0 60px #bce600, 0 0 70px #e6cf00;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #fcff4d, 0 0 40px #fcff4d, 0 0 50px #fcff4d, 0 0 60px #fffc4d, 0 0 70px #ffe44d, 0 0 80px #ffd54d;
	}
} */
