/*TEST NEW SPLITS LAYOUT BRANCH COMMIT*

/* MAKE FIREWORKS APPEAR AFTER CALCULATING */

/* "Gutters are also responsive and customizable. Gutter classes are available across all breakpoints, with all the same sizes as our margin and padding spacing. Change horizontal gutters with .gx-* classes, vertical gutters with .gy-*, or all gutters with .g-* classes. .g-0 is also available to remove gutters."

1. g-0 removes gutters (padding)
2. this is inherited in child classes (pretty sure)
3. you have to specify units for CSS to give a shit about what padding/margin you assign.
4. #3 is wrong. I think.
5. !important is cool. */

/* this fucks shit up */
/* *{
	padding: 0px !important;
} */

/* .row>* {
	padding: 0px !important;
}

body {
	padding: .5em !important;
} */

/* .lh-unset vertically centers the "per" */

.lh-unset {
	margin: 0px;
	line-height: unset;
}

/* .	orful-gradient {
	background-image: linear-gradient(to right, #3eccff, #18c20b, #e8ff4e, #d820b5) !important;
	background-color: rgb(43, 43, 43);
} */

.logo1 {
	/* color:white !important;
	text-shadow: 2px 2px 5px black;
	background-image: linear-gradient(to right, #3eccff, #18c20b, #e8ff4e, #d820b5) !important;
 	 background: -webkit-linear-gradient(#3eccff, #d820b5); */
	/* -webkit-background-clip: text; */
	/* -webkit-text-fill-color: transparent; */

	background-image: linear-gradient(45deg, #ca4246 16.666%, #476098 66.666%, #476098 83.333%, #a7489b 83.333%);

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Animate the text when loading the element. */
	/* This animates it on page load and when hovering out. */
	animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
.logo2 {
	/* Create a conic gradient. */
	/* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
	background: #ca4246;
	background-color: #ca4246;
	background: conic-gradient(
		#ca4246 16.666%,
		#e16541 16.666%,
		#e16541 33.333%,
		#f18f43 33.333%,
		#f18f43 50%,
		#8b9862 50%,
		#8b9862 66.666%,
		#476098 66.666%,
		#476098 83.333%,
		#a7489b 83.333%
	);

	/* Set thee background size and repeat properties. */
	background-size: 57%;
	background-repeat: repeat;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	/* Animate the text when loading the element. */
	/* This animates it on page load and when hovering out. */
	animation: rainbow-text-animation-rev 0.5s ease forwards;

	cursor: pointer;
}
body {
	min-height: 100vh;
	background-image: url('https://64.media.tumblr.com/efa8733072951d78bd9c4761a6db0c28/tumblr_ogkb38XhOD1qlhvfoo1_500.gifv');
	background-repeat: no-repeat;
	background-size: cover;
	/* background: linear-gradient(0deg, rgba(131, 58, 180, 1) 0%, rgba(242, 136, 235, 1) 50%, rgba(242, 173, 148, 1) 100%); */
	/* background: linear-gradient(0deg, rgba(128, 145, 241, 1) 0%, rgba(242, 136, 235, 1) 31%, rgba(242, 173, 148, 1) 100%); */
}

#timeForm {
	background-color: #ffc198cb;
	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

#distanceForm {
	background-color: #f288ebd0;
	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

#paceForm {
	background-color: #8392f0c9;
	/* box-shadow: 0 0 10px rgba(0, 0, 0); */
}

.logo {
	/* background: #33ffea; */
	/* background: -webkit-linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);
	background: -moz-linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);
	background: linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%); */
	color: #f0f1c9 !important;
	text-shadow: 1px 1px 2px rgb(81, 0, 131);
}

.gradient-btn-blue {
	background: #33ffea;
	background: -webkit-linear-gradient(to right, #33ffea 0%, #0a33ff 100%);
	background: -moz-linear-gradient(to right, #33ffea 0%, #0a33ff 100%);
	background: linear-gradient(to right, #33ffea 0%, #99f9ff 100%);
	color: black;
	/* text-shadow: 1px 1px 2px black; */
}

.gradient-btn-yellow {
	background: #f4fc05;
	background: -webkit-linear-gradient(to right, #a8f288 0%, #a8f288 100%);
	background: -moz-linear-gradient(to right, #a8f288 0%, #a8f288 100%);
	background: linear-gradient(to right, #a8f288 0%, #a8f288 100%);
	/* background: #f4fc05;
	background: -webkit-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: -moz-linear-gradient(to right, #f4fc05 0%, #f8b500 100%);
	background: linear-gradient(to right, #f4fc05 0%, #f8b500 100%); */
}

.gradient-btn-pink {
	background: #fc92fc;
	background: -webkit-linear-gradient(to right, #ffc198 0%, #ffc198 100%);
	background: -moz-linear-gradient(to right, #ffc198 0%, #ffc198 100%);
	background: linear-gradient(to right, #ffc198 0%, #ffc198 100%);
}

.gradient-btn-byp {
	background: linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);
}

.blue {
	color: #007bee;
}

.yellow {
	color: #a8f288;
}

.pink {
	color: #ffc298;
}
.light-grey {
	background: linear-gradient(to bottom, #8ad7f5, #31aedf83);
	/* background: linear-gradient(to bottom, #0e2934, #00011c); */
}

/* Test styling alternating colors */

/* Calculator Styling for Splits Button */
#calculator {
	/* background-color: #ffffff22; */
}

#splits-btn-container {
	bottom: 0px;
	/* height: 50px; */
	/* background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
	/* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

#splitsBtn {
	/* background: linear-gradient(to bottom, #befcc6 0%, #56fcb7 50%, #04fe4b 51%, #97fbc1 100%); */
	background: linear-gradient(to right, #33ffea 0%, #fff70a 50%, #ff33d6 100%);

	width: 100%;
	/* height: 50px; coverd by bootstrap "btn-lg" */
	text-align: center;
	text-justify: unset;
}
/* .glow1 {
	font-size: 2em;
	color: rgb(255, 255, 255);
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #3d00e6, 0 0 40px #3d00e6, 0 0 50px #3200e6, 0 0 60px #1f00e6, 0 0 70px #3d00e6;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #4dafff, 0 0 40px #4dcdff, 0 0 50px #4de4ff, 0 0 60px #4df3ff, 0 0 70px #4dc7ff, 0 0 80px #4d5cff;
	}
}

.glow-pink {
	font-size: 2em;
	color: #fff;
	text-align: center;
	-webkit-animation: glow-pink 1s ease-in-out infinite alternate;
	-moz-animation: glow-pink 1s ease-in-out infinite alternate;
	animation: glow-pink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-pink {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.glow-yellow {
	font-size: 2em;
	color: #fff;
	text-align: center;
	-webkit-animation: glow-yellow 1s ease-in-out infinite alternate;
	-moz-animation: glow-yellow 1s ease-in-out infinite alternate;
	animation: glow-yellow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow-yellow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c4e600, 0 0 40px #bce600, 0 0 50px #e6e200, 0 0 60px #bce600, 0 0 70px #e6cf00;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #fcff4d, 0 0 40px #fcff4d, 0 0 50px #fcff4d, 0 0 60px #fffc4d, 0 0 70px #ffe44d, 0 0 80px #ffd54d;
	}
} */
